.header-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  justify-content: space-between;
}

.nav-links {
  align-self: end;
  display: flex;
  gap: 1rem;
}

.header-wrapper a {
  text-decoration: none;
}

.nav-links .nav-link-1 {
  border-radius: 10px;
  padding: 7px;
}

.logo a:hover {
  text-decoration: underline;
}
