a:hover {
  color: var(--cyan);
  text-decoration: none;
}

.app-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .app-wrapper {
    max-width: 1300px;
  }
}

.youtube-video-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin-top: 3px;
  margin-bottom: 2rem;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
